@using PagedList.Mvc
@using QuanLyCuaHangLaptop.Models
@model PagedList.IPagedList<QuanLyCuaHangLaptop.Models.SanPham>

@{
    ViewBag.Title = "title";
    DBContext db = new DBContext();
    List<LoaiSP> loaiSps = db.LoaiSPs.Where(x => x.IsActive == true).ToList();
    List<HangSX> hangSxes = db.HangSXes.Where(x => x.IsActive == true).ToList();
}

<div class="col-sm-3">
    @*left-sidebar*@
    <div class="left-sidebar">
        <h2>Danh mục</h2>
        <div class="panel-group category-products" id="accordian">
            <!--category-productsr-->
            @{
                foreach (var loaiSp in loaiSps)
                {
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="~/Home/SanPhamTheoDanhMuc/@loaiSp.Id">@loaiSp.TenLoai</a>
                            </h4>
                        </div>
                    </div>
                }
            }

        </div><!--/category-products-->

        <div class="brands_products">
            <!--brands_products-->
            <h2>Brands</h2>
            <div class="brands-name">
                <ul class="nav nav-pills nav-stacked">
                    @{
                        foreach (var hangSx in hangSxes)
                        {
                            <li>
                                <a href="~/Home/SanPhamTheoHang/@hangSx.Id"> @hangSx.TenHang</a>
                            </li>
                        }
                    }


                </ul>
            </div>
        </div><!--/brands_products-->

    </div>
</div>
<div class="col-sm-9 padding-right">
    <div class="features_items">
        <!--features_items-->
        <h2 class="title text-center">Danh sách sản phẩm</h2>
        @{
            foreach (var sanPham in Model)
            {
                <div class="col-sm-4">
                    <div class="product-image-wrapper">
                        <div class="single-products">
                            <div class="productinfo text-center">
                                <img src="@sanPham.HinhAnh" alt=""/>
                                <h2>@string.Format("{0:#,##0}", sanPham.GiaBan)</h2>
                                <p>@sanPham.TenSP</p>
                                <a href="@Url.Action("ThemGioHang", "Home", new {id = sanPham.Id})" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm giỏ hàng</a>
                            </div>
                            <div class="product-overlay">
                                <div class="overlay-content">
                                    <h2>@string.Format("{0:#,##0}", sanPham.GiaBan)</h2>
                                    <p>@sanPham.TenSP@sanPham.TenSP</p>
                                    <a href="@Url.Action("ThemGioHang", "Home", new {id = sanPham.Id})" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm giỏ hàng</a>
                                </div>
                            </div>
                        </div>
                        <div class="choose">
                            <ul class="nav nav-pills nav-justified">
                                <li>
                                    <a href="~/Home/Details/@sanPham.Id"><i class="fa fa-plus-square"></i>Chi tiết sản phẩm</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            }
        }

    </div><!--features_items-->
    @Html.PagedListPager(Model, page => Url.Action("DanhSachSanPham",
        new {page}))

</div>